<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.JS e Express</title>
</head>
<body>
    <nav>
        <a href="/">inicio</a>
        <a href="/sobre">sobre</a>
        <a href="/contato">contato</a>
    </nav>

    <h1>Sobre</h1>
    <img src="https://placeholder.com/500" alt="" >
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ab voluptatum, ullam aliquid facere ducimus eius nisi, enim non tenetur consequuntur maiores impedit autem iure, dolore molestias deserunt illo incidunt. Doloremque soluta consequuntur sint qui repellat doloribus. Nemo ex deleniti voluptates laudantium quod. Dolor dolorum, atque recusandae neque deserunt modi animi beatae ipsa enim voluptatibus! Officiis totam porro voluptatem quasi cum nihil, odit optio dignissimos quaerat dolor quibusdam animi adipisci explicabo minima non molestiae officia, molestias quia omnis vitae culpa sit? Tempora, nostrum incidunt accusamus amet molestias temporibus expedita. Delectus atque culpa, harum optio numquam accusamus perferendis expedita repellendus odit!</p>
    
</body>
</html>