<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.JS e Express</title>
</head>
<body>
    <nav>
        <a href="/">inicio</a>
        <a href="/sobre">sobre</a>
        <a href="/contato">contato</a>
    </nav>

    <h1>Bem vindo a aplicação com NodeJs e Express</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad soluta laboriosam exercitationem quidem consectetur quae, dolorum iure voluptatum commodi laudantium aspernatur, saepe hic quo aut accusantium distinctio esse, eaque assumenda. Deserunt perspiciatis vel reprehenderit similique repudiandae sapiente odio, exercitationem voluptate eligendi debitis voluptatum! Et quisquam placeat sed voluptatem, cupiditate quas.</p>
    <hr>

    <ul>
        <% for(banda of bandas) { %>
            <li><%=banda %></li>
        <% } %>
    </ul>
    
</body>
</html>